<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>W.A.S.P Tactical Map</title>

<style>
body {
    margin: 0;
    overflow: hidden;
    background: #020611;
    font-family: monospace;
}

#map-container {
    width: 100vw;
    height: 100vh;
}
</style>
</head>

<body>

<div id="map-container"></div>

<script type="importmap">
{
  "imports": {
    "three": "https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.module.js"
  }
}
</script>
<script type="module" src="/static/js/wasp_engine.js"></script>

</body>
</html>
